{% extends 'base.html.twig' %}

{% block title %}Contents{% endblock %}

{% block body %}
    <h1>Contents</h1>

    {% for row in contents %}
        <h2>{{ row.title }}</h2>
        <p>{{ row.article }}</p>
    {% endfor %}
{% endblock %}
